body {
  background-color: #232323;
}

h1 {
  color: white;
  text-align: center;
}

#container {
  max-width: 600px;
  margin: 0 auto;
}

#selectedColor {
  text-transform: uppercase;
}

.square {
  width: 30%;
  padding-bottom: 30%;
  margin: 1.66%;
  background-color: purple;
  border-radius: 5px;
  float: left;
}
