body {
  background-color: #232323;
  font-family: Raleway;
  margin : 0 ;
}

button {
  border : none;
  background-color: #fff;
  text-transform: uppercase;
  color: #9898FF;
  font-family: Raleway;
  font-size: 1em;
  font-weight: 600;
  transition: all 0.4s;

}

button:hover {
  color: #FFF;
  background-color: #9898FF;
}



h1 {
  color: #fff;
  text-align: center;
  background-color: #9898FF;
  padding: 20px 0;
  margin: 0;
}

.selected {
  color: #FFF;
  background-color: #9898FF;
}

.square {
  width: 30%;
  padding-bottom: 30%;
  margin: 1.66%;
  border-radius: 10px;
  float: left;
  transition: background 0.4s;
}

#container {
  max-width: 600px;
  margin: 0 auto;
}

#selectedColor {
  text-transform: uppercase;
  display: block;
  font-size: 1.5em;
}

#subheader {
  text-align: center;
  background-color: #fff;
  font-weight: 600;
  color: #9898FF;
}

#try-again {
  display: inline-block;
  width: 20%;
}
