body {
  background-color: #232323;
  font-family: Raleway;
  margin : 0 ;
}

h1 {
  color: #fff;
  text-align: center;
}

.square {
  width: 30%;
  padding-bottom: 30%;
  margin: 1.66%;
  border-radius: 5px;
  float: left;
}

#container {
  max-width: 600px;
  margin: 0 auto;
}

#selectedColor {
  text-transform: uppercase;
}

#top-header {
  background-color: #9898FF;
  padding-top: 10px;
}

.hide {
  display:none;
}

#subheader {
  max-width: inherit;
  background-color: #fff;
  font-weight: 600;
  color: #9898FF;
  padding-left: 30%;
}

#new-game {
  margin: 0 auto;
  float: left;
}

#new-game:hover {
  background-color: #9898FF;
  color: #fff;
}
